<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:cc="http://java.sun.com/jsf/composite/customcomponents"
	xmlns:c="http://java.sun.com/jsp/jstl/core" contentType="text/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Mantenedor de Preguntas Secretas</title>

		<h:outputScript name="js/Utils.js" target="body"></h:outputScript>
	</h:head>

	<h:body>
		<cc:SessionTimeOut></cc:SessionTimeOut>
		<cc:AppHeaderMenu></cc:AppHeaderMenu>
		<p:growl id="growl" sticky="false" showDetail="true" />

		<h:form id="initial-form">
			<p:panel style="border-style:none">
				<p:fieldset legend="Mantenedor de preguntas secretas">
					<p:panel>
						<h:panelGrid columns="10" cellpadding="3">
							<h:outputLabel value="Pregunta" style="font-weight: bold;" />
							<p:spacer width="3"></p:spacer>
							<p:inputText maxlength="20" size="20"
								value="#{mantenedorPreguntas.filtro.pregunta}">
							</p:inputText>

							<h:outputLabel value="Estado" style="font-weight: bold;" />
							<p:spacer width="3" />
							<p:selectOneMenu id="console" style="width: 200px;"
								value="#{mantenedorPreguntas.filtro.estado}">
								<f:selectItems value="#{mantenedorPreguntas.estados}"></f:selectItems>
							</p:selectOneMenu>

							<p:spacer width="10px"></p:spacer>
							<p:commandButton value="Buscar" icon="ui-icon-search"
								actionListener="#{mantenedorPreguntas.buscarPreguntas}"
								update="tablaPreguntas, :growl"></p:commandButton>

							<p:spacer width="3"></p:spacer>
							<p:commandButton value="Nueva Pregunta" icon="ui-icon-plus"
								resetValues="true"
								actionListener="#{mantenedorPreguntas.cleanPregunta}"
								update="id-form-new-pregunta"
								onclick="PF('nuevaPreguntaDlgWidget').show();" />
						</h:panelGrid>
					</p:panel>


					<p:spacer height="10px;"></p:spacer>


					<p:dataTable id="tablaPreguntas" var="pregunta" paginator="true"
						value="#{mantenedorPreguntas.ltsPreguntas}"
						emptyMessage="No se han encontrado registros..."
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
						rowsPerPageTemplate="5,10,15" rows="5">

						<p:column>
							<f:facet name="header">
								<h:outputText value="Pregunta"></h:outputText>
							</f:facet>
							<h:outputText value="#{pregunta.pregunta}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Estado"></h:outputText>
							</f:facet>
							<h:outputText value="#{pregunta.estado}" />
						</p:column>

						<p:column style="width:30px;">
							<p:commandButton icon="ui-icon-pencil" title="Editar rol"
								style="width:30px;"
								oncomplete="PF('editarPreguntaDlgWidget').show();"
								actionListener="#{mantenedorPreguntas.loadPopUpEdicion}"
								update=":id-form-editar-pregunta">
								<f:attribute name="pregunta" value="#{pregunta}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:fieldset>
			</p:panel>
		</h:form>




		<!-- POP UP NUEVAS PREGUNTAS -->
		<p:dialog id="nuevaPreguntaDlg" widgetVar="nuevaPreguntaDlgWidget"
			style="width:800px;" responsive="true" resizable="false"
			closable="false" modal="true" showEffect="fade" header="Nueva Pregunta">
			<p:panel header="Formulario nueva pregunta">
				<h:form id="id-form-new-pregunta">
					<h:panelGrid columns="3" title="Ingreso de Pregunta">

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputLabel for="pregunta" value="Pregunta: "
							style="font-weight: bold;" />
						<p:inputText id="pregunta" style="width: 400px;" maxlength="200"
							required="true"
							requiredMessage="El campo pregunta es obligatorio"
							value="#{mantenedorPreguntas.pregunta.pregunta}">
						</p:inputText>

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Estado" style="font-weight: bold;" />
						<p:selectOneMenu id="console" style="width: 100px;"
							required="true" requiredMessage="El campo estado es obligatorio"
							value="#{mantenedorPreguntas.pregunta.estado}">
							<f:selectItems value="#{mantenedorPreguntas.estados}"
								var="estado" itemDisabled="#{estado eq 'TODOS'}"
								itemLabel="#{estado.label}" itemValue="#{estado}" />
						</p:selectOneMenu>
					</h:panelGrid>

					<p:panel style="text-align: center; border-width: 0px; ">

						<p:commandButton value="Cancelar" update="nuevaPreguntaDlg"
							actionListener="#{mantenedorPreguntas.cleanPregunta}"
							oncomplete="PF('nuevaPreguntaDlgWidget').hide();"
							resetValues="true" />

						<p:commandButton value="Guardar"
							oncomplete="if(!args.validationFailed)PF('IncorporarPreguntaCnfDlg').show();"
							update=":growl, id-form-new-pregunta" />

						<p:remoteCommand name="ejecutarGuardarPregunta"
							actionListener="#{mantenedorPreguntas.guardarPregunta}"
							oncomplete="handlePreguntaSaveRequest(xhr, status, args);"
							update=":growl, initial-form" />
					</p:panel>
				</h:form>
			</p:panel>
		</p:dialog>




		<!-- POP UP EDITAR PREGUNTA SECRETA -->
		<p:dialog id="editarPreguntaDlg" widgetVar="editarPreguntaDlgWidget"
			style="width:530px;" responsive="true" resizable="false"
			closable="false" modal="true" showEffect="fade"
			header="Editar Pregunta">
			<p:panel header="Formulario edición Pregunta">
				<h:form id="id-form-editar-pregunta">
					<h:panelGrid columns="3" title="Editar pregunta">

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Descripción" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="50" required="true"
							requiredMessage="El campo descripción es obligatorio"
							value="#{mantenedorPreguntas.preguntaSeleccionada.pregunta}" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Estado" style="font-weight: bold;" />
						<p:selectOneMenu id="console" style="width: 100px;"
							required="true" requiredMessage="El campo estado es obligatorio"
							value="#{mantenedorPreguntas.preguntaSeleccionada.estado}">
							<f:selectItems value="#{mantenedorPreguntas.estados}"
								var="estado" itemDisabled="#{estado eq 'TODOS'}"
								itemLabel="#{estado.label}" itemValue="#{estado}" />
						</p:selectOneMenu>
					</h:panelGrid>

					<p:panel style="text-align: center; border-width: 0px; ">

						<p:commandButton value="Cancelar" update="editarPreguntaDlg"
							actionListener="#{mantenedorPreguntas.cleanPregunta}"
							onclick="PF('editarPreguntaDlgWidget').hide();"
							resetValues="true" />

						<p:commandButton value="Guardar"
							oncomplete="if(!args.validationFailed)PF('EditarPreguntaCnfDlg').show();"
							update=":growl, id-form-editar-pregunta" />

						<p:remoteCommand name="ejecutarEditarPregunta"
							actionListener="#{mantenedorPreguntas.actualizarPregunta}"
							oncomplete="handlePreguntaEditRequest(xhr, status, args);"
							update=":growl, initial-form" />
					</p:panel>
				</h:form>
			</p:panel>
		</p:dialog>




		<!-- DIALOGOS DE CONFIRMACION SAVE USUARIO-->
		<p:confirmDialog widgetVar="IncorporarPreguntaCnfDlg"
			header="Confirmar Incorporación"
			message=" ¿Está seguro que desea incorporar la pregunta?"
			closable="false">
			<p:commandButton value="Si"
				onclick="ejecutarGuardarPregunta();PF('IncorporarPreguntaCnfDlg').hide();"
				type="button" />
			<p:commandButton value="No"
				onclick="PF('IncorporarPreguntaCnfDlg').hide();" />
		</p:confirmDialog>


		<!-- DIALOGOS DE CONFIRMACION EDITAR USUARIO-->
		<p:confirmDialog widgetVar="EditarPreguntaCnfDlg"
			header="Confirmar Edición"
			message=" ¿Está seguro que desea editar el rol?" closable="false">
			<p:commandButton value="Si"
				onclick="ejecutarEditarPregunta();PF('EditarPreguntaCnfDlg').hide();"
				type="button" />
			<p:commandButton value="No"
				onclick="PF('EditarPreguntaCnfDlg').hide();" />
		</p:confirmDialog>




		<script type="text/javascript">
			function handlePreguntaSaveRequest(xhr, status, args) {
				console.log(args.validationFailed);
				if (args.validationFailed) {
						$("#nuevaPreguntaDlg").effect("shake", {
							times : 3
						}, 100);
				} else {
					PF('nuevaPreguntaDlgWidget').hide();
				}
			}
			
			function handlePreguntaEditRequest(xhr, status, args) {
				console.log(args.validationFailed);
				if (args.validationFailed) {
						$("#editarPreguntaDlg").effect("shake", {
							times : 3
						}, 100);
				} else {
					PF('editarPreguntaDlgWidget').hide();
				}
			}
			
		</script>
	</h:body>
</f:view>
