<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite">

<cc:interface>
	<cc:attribute name="dummy" default="" type="java.lang.String"
		shortDescription="Dummy attribute." />
</cc:interface>
<cc:implementation>

	<h:form>
		<p:menubar>
			<p:submenu label="Mantenedores" icon="ui-icon-document">
				<p:menuitem value="Usuarios" icon="ui-icon-person"
					url="/private/mantenedores/usuario/MantenedorUsuario.jsf?faces-redirect=true" />
				<p:menuitem value="Roles" icon="ui-icon-key"
					url="/private/mantenedores/roles/MantenedorRoles.jsf?faces-redirect=true" />
				<p:menuitem value="Preguntas" icon="ui-icon-clipboard"
					url="/private/mantenedores/preguntas/MantenedorPreguntas.jsf?faces-redirect=true" />
				<p:menuitem value="Parámetros" icon="ui-icon-wrench"
					url="/private/mantenedores/parametros/MantenedorParametros.jsf?faces-redirect=true" />
				<p:menuitem value="Inicio" icon="ui-icon-home"
					url="/private/index.jsf?faces-redirect=true" />
			</p:submenu>
			<f:facet name="options">
				<h:outputText id="headerUserName"
					value="#{loginSession.usuario.nombreCompleto}"
					style="font-weight: bold;"></h:outputText>
				<p:spacer width="20px"></p:spacer>
				<p:commandButton type="button" value="Cerrar Sesión"
					icon="ui-icon-extlink" onclick="PF('cd').show();" />
			</f:facet>
		</p:menubar>

		<!--  Tooltip para visualizar informacion del usuario -->
		<p:tooltip for="headerUserName" rendered="#{loginSession.loggedIn}"
			showEffect="clip" hideEffect="explode" position="bottom">
			<p:outputLabel value="Rut: " style="font-weight: bold;" />
			<br />
			<p:outputLabel
				value="#{loginSession.usuario.rut}- #{loginSession.usuario.dv}"
				style="margin-left:10px;" />
			<br />
			<p:outputLabel value="E-mail: " style="font-weight: bold;" />
			<br />
			<p:outputLabel value="#{loginSession.usuario.email}"
				style="margin-left:10px;" />
			<br />
			<p:outputLabel value="Fono: " style="font-weight: bold;" />
			<br />
			<p:outputLabel value="#{loginSession.usuario.fono}"
				style="margin-left:10px;" />
		</p:tooltip>

		<p:confirmDialog message="¿Desea salir de la aplicación?"
			closable="false" header="Logout aplicación" severity="alert"
			widgetVar="cd">
			<p:commandButton value="Si" actionListener="#{loginSession.doLogout}"
				oncomplete="PF('cd').hide();" />
			<p:commandButton value="No" onclick="PF('cd').hide();" type="button" />
		</p:confirmDialog>

		<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
			closable="false" resizable="false" showHeader="false">
			<p:graphicImage name="images/loading.gif" title="Loading" />
		</p:dialog>

		<p:ajaxStatus onstart="PF('statusDialog').show()"
			onsuccess="PF('statusDialog').hide()" />

	</h:form>
</cc:implementation>
</html>