<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite">



<cc:interface>
	<cc:attribute name="dummy" default="" type="java.lang.String"
		shortDescription="Dummy attributo"></cc:attribute>
</cc:interface>

<cc:implementation>

	<p:idleMonitor onidle="PF('sessionTimeOutDialog').show();"
		timeout="#{session.maxInactiveInterval * 1000}" />

	<p:dialog header="Sesión expirada" widgetVar="sessionTimeOutDialog"
		modal="true" closable="false" width="400" visible="false"
		resizable="false" draggable="false" fixedCenter="true">
		<h:panelGrid columns="1">
			<h:outputText value="Por motivos de seguridad su sessión ha expirado" />
			<p:commandButton style="float:right" value="cerrar sesión"
				oncomplete="PF('sessionTimeOutDialog').hide()"
				onclick="window.location='#{facesContext.externalContext.requestContextPath}/login.jsf';"></p:commandButton>

		</h:panelGrid>

	</p:dialog>

</cc:implementation>
</html>