<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>

	<h:form id="frm">
		<p:panel id="panelPoliticas" header="Mantenedor Parametros Contraseña" style="martgin-bottom:20px">
			<table>
				<tr>
					<td>
						<p:outputLabel value="Leading " />						
					</td>
					<td>
						<p:inputSwitch value="#{politicaBean.value1}" />
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Trailing " />						
					</td>
					<td>
						<p:inputSwitch value="#{politicaBean.value1}" />
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Largo Minino " />						
					</td>
					<td>
						<p:inputText size="4" maxlength="4"/> 
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Largo Maximo " />						
					</td>
					<td>
						<p:inputText size="4" maxlength="4"/> 
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Texto " />						
					</td>
					<td>
						<p:selectOneMenu value="#{politicaBean.texto}" style="width:125px">
				            <f:selectItem itemLabel="Numérica" itemValue="" />
				            <f:selectItem itemLabel="Alfabética" itemValue="" />
				            <f:selectItem itemLabel="Alfanumérica" itemValue="" />				            
				        </p:selectOneMenu>
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Caracteres Especiales " />						
					</td>
					<td>
						<p:inputSwitch value="#{politicaBean.value1}" />
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Vigencia de Contraseña " />						
					</td>
					<td>
						<p:inputText size="4" maxlength="4" value="60"/> 
					</td>
					<td>			
					<p:commandButton value="Cambiar" id="prg3"/>				
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Rechaza de Re uso de contraseña " />						
					</td>
					<td>
						<p:inputText size="2" maxlength="2" value="3"/> 
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Permite caracteres consecutivos " />						
					</td>
					<td>
						<p:inputText size="2" maxlength="2" value="2"/> 
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Permite caracteres iguales seguidos " />						
					</td>
					<td>
						<p:inputText size="2" maxlength="2" value="2"/> 
					</td>
					<td>	
					<p:commandButton value="Cambiar" id="prg2"/>						
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Case sensitive " />						
					</td>
					<td>
						<p:inputSwitch value="#{politicaBean.value1}" />
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Obliga uso mayúscula " />						
					</td>
					<td>
						<p:inputText size="2" maxlength="2" value="1"/> 
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Bloqueo por Autentificación fallida " />						
					</td>
					<td>
						<p:inputText size="2" maxlength="2" value="3"/> 
					</td>
					<td>					
					</td>
				</tr>
				<tr>
					<td>
						<p:outputLabel value="Preguntas de seguridad ante olvido de constraseñas " />						
					</td>
					<td>
						<p:inputSwitch value="#{politicaBean.value1}" />
					</td>
					<td>
						<p:commandButton value="Cambiar" id="prg"/>					
					</td>
				</tr>
			</table>
		</p:panel>
	</h:form>



	
</h:body>
</html>
