<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:cc="http://java.sun.com/jsf/composite/customcomponents"
	contentType="text/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><h:outputText value="Politicas de Usuario - 1.0" /></title>
	</h:head>

	<h:body>
	<cc:SessionTimeOut></cc:SessionTimeOut>
		<p:growl id="growl" sticky="false" showDetail="true" />
		<!--  	<cc:SessionTimeOut /> -->
		<div id="header">
			<h1>Sistema de gestión de usuarios y políticas SGIC</h1>
		</div>

		<div id="content">

			<cc:AppHeaderMenu></cc:AppHeaderMenu>

			<h:form>

			</h:form>
		</div>

		<div id="footer">
			<f:facet name="footer">

			</f:facet>
		</div>


		<!--  dialogo logout -->
		<p:dialog id="showlogout" widgetVar="showlogoutwidget"
			resizable="false" closable="false" modal="true" showEffect="fade"
			hideEffect="drop" visible="#{userSession.showLogout}"
			header="Usuario no habilitado">
			<h:form>
				<h:outputText value="#{userSession.messageForceLogout}"
					escape="false" />
				<p:panel style="text-align: center; border-width: 0px;">
					<p:commandButton value="Aceptar" icon="ui-icon-check"
						oncomplete="handleEditExampleBeanRequest(xhr, status, args);"
						actionListener="#{userSession.logout}" />
				</p:panel>
			</h:form>

			<script type="text/javascript">
				function handleEditExampleBeanRequest(xhr, status, args) {
					PF('showlogoutwidget').hide();
				}
			</script>
		</p:dialog>

	</h:body>

</f:view>
