<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:cc="http://java.sun.com/jsf/composite/customcomponents"
	xmlns:c="http://java.sun.com/jsp/jstl/core" contentType="text/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Mantenedor de Roles</title>

		<h:outputScript name="js/Utils.js" target="body"></h:outputScript>
	</h:head>

	<h:body>
		<cc:SessionTimeOut></cc:SessionTimeOut>
		<cc:AppHeaderMenu></cc:AppHeaderMenu>
		<p:growl id="growl" sticky="false" showDetail="true" />

		<h:form id="formInitial">
			<p:panel style="border-style:none">
				<p:fieldset legend="Mantenedor de Roles">
					<p:panel>
						<h:panelGrid columns="10" cellpadding="3">
							<h:outputLabel value="Nombre" style="font-weight: bold;" />
							<p:spacer width="3"></p:spacer>
							<p:inputText maxlength="20" size="20"
								value="#{mantenedorRoles.filtro.nombreRol}">
							</p:inputText>

							<p:spacer width="10px"></p:spacer>
							<p:commandButton value="Buscar" icon="ui-icon-search"
								actionListener="#{mantenedorRoles.buscarRoles}"
								update="tablaRoles, :growl"></p:commandButton>

							<p:spacer width="3"></p:spacer>
							<p:commandButton value="Agregar" icon="ui-icon-plus"
								resetValues="true" update="id-form-new-rol"
								onclick="PF('nuevoRolDlgWidget').show();" />
						</h:panelGrid>

					</p:panel>

					<p:spacer height="10px;"></p:spacer>

					<p:dataTable id="tablaRoles" var="rol" paginator="true"
						value="#{mantenedorRoles.roles}"
						emptyMessage="No se han encontrado registros..."
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
						rowsPerPageTemplate="5,10,15" rows="5">

						<p:column>
							<f:facet name="header">
								<h:outputText value="Nombre"></h:outputText>
							</f:facet>
							<h:outputText value="#{rol.nombre}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Descripción"></h:outputText>
							</f:facet>
							<h:outputText value="#{rol.descripcion}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Permisos"></h:outputText>
							</f:facet>
							<p:commandButton actionListener="#{permisionRolMB.rolListener}"
								update="tablaRoles dlg1" value="Editar Permisos">
								<f:attribute name="roles" value="#{rol}" />

							</p:commandButton>
						</p:column>


						<p:column style="width:25px;">
							<p:commandButton icon="ui-icon-pencil" title="Editar rol"
								style="width:27px;"
								actionListener="#{mantenedorRoles.loadPopUpEdicionRol}"
								update="editarRolDlg" resetValues="true"
								oncomplete="PF('editarRolDlgWidget').show();">
								<f:attribute name="rol" value="#{rol}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:fieldset>
			</p:panel>
		</h:form>





		<!-- POP UP PERMISOS ROLES -->
		<p:dialog id="dlg1" header="#{permisionRolMB.rolSelection.nombre}"
			responsive="true" resizable="false" closable="false" modal="true"
			showEffect="fade" widgetVar="viewPermision" width="50%" height="50%">
			<h:form>
				<p:dataTable var="rolSubMenu" scrollable="true" scrollWidth="100%" 
					scrollHeight="300" value="#{permisionRolMB.rolesPermisos}"
					rows="300"
					style="width:100%;">
					<p:column headerText="Menu">
						<h:outputText value="#{rolSubMenu.submenu.menu.nombre}" />
					</p:column>
					<p:column headerText="Sub-Menu">
						<h:outputText value="#{rolSubMenu.submenu.nombre}" />
					</p:column>



					<p:column headerText="Permisos" colspan="1">

						<p:selectManyCheckbox
							value="#{rolSubMenu.permisionsListNameSelection}" layout="grid"
							columns="1">
							<f:selectItems value="#{rolSubMenu.permisionsListName}"
								var="permiso" itemLabel="#{permiso}" itemValue="#{permiso}" />
						</p:selectManyCheckbox>

					</p:column>
				</p:dataTable>
				<p:panel style="text-align: center; border-width: 0px; ">

					<p:commandButton value="Cancelar" update="dlg1"
						oncomplete="PF('viewPermision').hide();" resetValues="true" />
					<p:commandButton value="Guardar" action="#{permisionRolMB.update}"
						update=":growl" />

				</p:panel>
			</h:form>
		</p:dialog>



		<!-- POP UP NUEVO ROLES -->
		<p:dialog id="nuevoRolDlg" widgetVar="nuevoRolDlgWidget"
			style="width:530px;" responsive="true" resizable="false"
			closable="false" modal="true" showEffect="fade" header="Nuevo Rol">
			<p:panel header="Formulario nuevo Rol">
				<h:form id="id-form-new-rol">
					<h:panelGrid columns="3" title="Ingreso de Rol">

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputLabel for="nombre" value="Nombre"
							style="font-weight: bold;" />
						<p:inputText id="nombre" style="width: 250px;" maxlength="50"
							size="8" required="true"
							requiredMessage="El campo nombre es obligatorio"
							value="#{mantenedorRoles.rol.nombre}">
						</p:inputText>

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Descripción" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="50" required="true"
							requiredMessage="El campo descripción es obligatorio"
							value="#{mantenedorRoles.rol.descripcion}" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Estado" style="font-weight: bold;" />
						<p:selectOneMenu id="console" style="width: 200px;"
							required="true" requiredMessage="El campo estado es obligatorio"
							value="#{mantenedorRoles.rol.estado}">
							<f:selectItems value="#{mantenedorRoles.estados}" var="estado"
								itemLabel="#{estado.label}" itemValue="#{estado}"
								itemDisabled="#{(estado eq 'TODOS')}" />

						</p:selectOneMenu>
					</h:panelGrid>

					<p:panel style="text-align: center; border-width: 0px; ">

						<p:commandButton value="Cancelar" update="nuevoRolDlg"
							actionListener="#{mantenedorRoles.cleanRol}"
							oncomplete="PF('nuevoRolDlgWidget').hide();" resetValues="true" />

						<p:commandButton value="Guardar"
							oncomplete="if(!args.validationFailed)PF('IncorporarRolCnfDlg').show();"
							update=":growl, id-form-new-rol" />

						<p:remoteCommand name="ejecutarGuardarRol"
							actionListener="#{mantenedorRoles.guardarRol}"
							oncomplete="handleRolBeanRequest(xhr, status, args);"
							update=":growl :formInitial" />
					</p:panel>
				</h:form>
			</p:panel>
		</p:dialog>




		<!-- POP UP EDITAR ROLES -->
		<p:dialog id="editarRolDlg" widgetVar="editarRolDlgWidget"
			style="width:530px;" responsive="true" resizable="false"
			closable="false" modal="true" showEffect="fade" header="Editar Rol">
			<p:panel header="Formulario edición Rol">
				<h:form id="id-form-editar-rol">
					<h:panelGrid columns="3" title="Editar de Rol">

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputLabel for="nombre" value="Nombre"
							style="font-weight: bold;" />
						<p:inputText id="nombre" style="width: 250px;" maxlength="50"
							size="8" required="true"
							requiredMessage="El campo nombre es obligatorio"
							value="#{mantenedorRoles.rolSeleccionado.nombre}">
						</p:inputText>

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Descripción" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="50" required="true"
							requiredMessage="El campo descripción es obligatorio"
							value="#{mantenedorRoles.rolSeleccionado.descripcion}" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Estado" style="font-weight: bold;" />
						<p:selectOneMenu id="console" style="width: 200px;"
							required="true" requiredMessage="El campo estado es obligatorio"
							value="#{mantenedorRoles.rolSeleccionado.estado}">
							<f:selectItems value="#{mantenedorRoles.estados}" var="estado"
								itemLabel="#{estado.label}" itemValue="#{estado}"
								itemDisabled="#{(estado eq 'TODOS')}" />
						</p:selectOneMenu>
					</h:panelGrid>

					<p:panel style="text-align: center; border-width: 0px; ">

						<p:commandButton value="Cancelar" update="editarRolDlg"
							actionListener="#{mantenedorRoles.cleanRol}"
							onclick="PF('editarRolDlgWidget').hide();" resetValues="true" />

						<p:commandButton value="Guardar"
							oncomplete="if(!args.validationFailed)PF('EditarRolCnfDlg').show();"
							update=":growl, id-form-editar-rol" />

						<p:remoteCommand name="ejecutarEditarRol"
							actionListener="#{mantenedorRoles.editarRol}"
							oncomplete="handleRolEditBeanRequest(xhr, status, args);"
							update=":growl :formInitial" />
					</p:panel>
				</h:form>
			</p:panel>
		</p:dialog>



		<!-- POP UP EDITAR PERMISISOS -->
		<p:dialog id="PermisosRolDlg" widgetVar="PermisosRolDlgWidget"
			style="width:530px;" responsive="true" resizable="false"
			closable="false" modal="true" showEffect="fade" header="Editar Rol">
			<p:panel header="Formulario edición Rol">
				<h:form id="id-form-permisos-rol">
					<p:dataTable id="tablaRoles" var="rol" paginator="true"
						value="#{mantenedorRoles.roles}"
						emptyMessage="No se han encontrado regitros"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
						rowsPerPageTemplate="5,10,15" rows="5">

						<p:column>
							<f:facet name="header">
								<h:outputText value="SUB-MENÚ"></h:outputText>
							</f:facet>
							<h:outputText value="#{rol.nombre}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Descripción"></h:outputText>
							</f:facet>
							<h:outputText value="#{rol.descripcion}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Permisos"></h:outputText>
							</f:facet>
							<h:outputText value="VER" />
						</p:column>


						<p:column style="width:25px;">
							<p:commandButton icon="ui-icon-pencil" title="Editar rol"
								style="width:27px;"
								oncomplete="PF('editarRolDlgWidget').show();"></p:commandButton>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</p:dialog>




		<!-- DIALOGOS DE CONFIRMACION SAVE USUARIO-->
		<p:confirmDialog widgetVar="IncorporarRolCnfDlg"
			header="Confirmar Incorporación"
			message=" ¿Está seguro que desea incorporar el rol?" closable="false">
			<p:commandButton value="Si"
				onclick="ejecutarGuardarRol();PF('IncorporarRolCnfDlg').hide();"
				type="button" />
			<p:commandButton value="No"
				onclick="PF('IncorporarRolCnfDlg').hide();" />
		</p:confirmDialog>


		<!-- DIALOGOS DE CONFIRMACION EDITAR USUARIO-->
		<p:confirmDialog widgetVar="EditarRolCnfDlg"
			header="Confirmar Edición"
			message=" ¿Está seguro que desea editar el rol?" closable="false">
			<p:commandButton value="Si"
				onclick="ejecutarEditarRol();PF('EditarRolCnfDlg').hide();"
				type="button" />
			<p:commandButton value="No" onclick="PF('EditarRolCnfDlg').hide();" />
		</p:confirmDialog>




		<script type="text/javascript">
			function handleRolBeanRequest(xhr, status, args) {
				console.log(args.validationFailed);
				if (args.validationFailed) {
						$("#nuevoRolDlg").effect("shake", {
							times : 3
						}, 100);
				} else {
					PF('nuevoRolDlgWidget').hide();
				}
			}
			
			function handleRolEditBeanRequest(xhr, status, args) {
				console.log(args.validationFailed);
				if (args.validationFailed) {
						$("#editarRolDlg").effect("shake", {
							times : 3
						}, 100);
				} else {
					PF('editarRolDlgWidget').hide();
				}
			}
			
		</script>
	</h:body>

	<!-- 	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" -->
	<!-- 		closable="false" resizable="false" showHeader="false"> -->
	<!-- 		<p:graphicImage name="images/ellipsis.gif" title="Loading" /> -->
	<!-- 	</p:dialog> -->

	<!-- 	<p:ajaxStatus onstart="PF('statusDialog').show()" -->
	<!-- 		onsuccess="PF('statusDialog').hide()" /> -->
</f:view>
