<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:cc="http://java.sun.com/jsf/composite/customcomponents"
	xmlns:c="http://java.sun.com/jsp/jstl/core" contentType="text/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Mantenedor de Parametros</title>

		<h:outputScript name="js/Utils.js" target="body"></h:outputScript>
	</h:head>

	<h:body>
		<cc:SessionTimeOut></cc:SessionTimeOut>
		<cc:AppHeaderMenu></cc:AppHeaderMenu>
		<p:growl id="growl" sticky="false" showDetail="true" />

		<h:form id="formInitial">
			<p:panel style="border-style:none">
				<p:fieldset legend="Mantenedor de Parametros - Politicas usuarios">
					<p:messages id="messages" showDetail="true" autoUpdate="true"
						closable="true" />
					<p:dataTable id="tablaParametros" var="parametro"
						emptyMessage="No se han encontrado politicas activas"
						value="#{mantenedorParametros.listaParametros}">

						<p:column headerText="">
							<p:outputLabel value="#{parametro.parametro.view}" />
						</p:column>

						<p:column headerText="">
							<!-- 								<p:outputLabel   rendered="#{(parametro.parametro.obje eq 'outputLabel')}"  value="#{parametro.valor}"></p:outputLabel> -->
							<p:selectOneMenu
								rendered="#{(parametro.parametro.obje eq 'selectOneMenu' )}"
								style="width:125px" value="#{parametro.valor}">
								<f:selectItems value="#{mantenedorParametros.tipoClave}" />
								<p:ajax listener="#{parametro.changedValor}"
									update="tablaParametros" />
							</p:selectOneMenu>
							<p:inputSwitch
								rendered="#{(parametro.parametro.obje eq 'inputSwitch' )}"
								value="#{parametro.valor}">
								<p:ajax event="change" listener="#{parametro.changedValor}"
									update="tablaParametros" />
							</p:inputSwitch>
							<p:inputText
								rendered="#{(parametro.parametro.obje eq 'inputText') or (parametro.parametro.obje eq 'OTHER')}"
								value="#{parametro.valor}">


								<p:ajax event="change" listener="#{parametro.changedValor}"
									update="tablaParametros" />
								<f:validator validatorId="custom.integerValidator" />
								<f:validator validatorId="custom.maxValueParamValidator" />
								<f:attribute name="nameComponentView"
									value="#{parametro.parametro.view}" />
								<f:attribute name="parametro" value="#{parametro}" />
							</p:inputText>
							<!-- 								<p:message    /> -->
						</p:column>

						<p:column headerText="">
							<p:commandButton id="mybutton" update="tablaParametros"
								actionListener="#{mantenedorParametros.update}"
								rendered="#{parametro.changedValor and !(parametro.testValidatorFail)}"
								value="Actualizar">
								<f:attribute name="parametro" value="#{parametro}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:fieldset>
			</p:panel>
		</h:form>
	</h:body>

	<!-- 	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" -->
	<!-- 		closable="false" resizable="false" showHeader="false"> -->
	<!-- 		<p:graphicImage name="images/ellipsis.gif" title="Loading" /> -->
	<!-- 	</p:dialog> -->

	<!-- 	<p:ajaxStatus onstart="PF('statusDialog').show()" -->
	<!-- 		onsuccess="PF('statusDialog').hide()" /> -->
</f:view>
