<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>

	<h:form id="frm">
	<p:panel id="panelRol" header="Mantenedor de Roles" style="margin-bottom:20px">
	<table>
		<tr>
			<td>
				<p:outputLabel for="rol" value="Nombre" />
				<h:inputText id="rol" value="#{rolBean.rol.nombreRol}" />
			</td>
			<td>
				<p:commandButton value="Listar" actionListener="#{rolBean.listar}" update="data"/>
			</td>
			<td>
				<p:commandButton value="Agregar" actionListener="#{rolBean.listar}" update="data"/>
			</td>
		</tr>
	
	</table>
	<p:dataTable id="data"  value="#{rolBean.ltsRoles}"  var="roles">
		
		<p:column headerText="NOMBRE">
			<p:outputLabel value="#{roles.nombreRol}"/>
		</p:column>
		<p:column headerText="DESCRIPCIÓN">
			<p:outputLabel value="#{roles.descripcion}"/>
		</p:column>
		
		<p:column headerText="PERMISOS">
			<p:commandLink value="Ver" actionListener="#{rolBean.menu}" oncomplete="PF('wdlgDatos').show();" update=":dlgDatos"/>
    	</p:column>
		<p:column headerText="MODIFICAR">
			<p:commandLink id="ajax" actionListener="#{rolBean.leerID}" oncomplete="PF('wdlgRol').show();" update=":dlgRol">
        		<h:outputText value="Modificar" />
    		</p:commandLink>
		</p:column>
	</p:dataTable>
	</p:panel>
	</h:form>
	<p:dialog header="Menú" widgetVar="wdlgDatos" id="dlgDatos">
		<h:form>
			<p:dataTable id="data"  value="#{rolBean.ltsMenu}"  var="roles" rows="5" paginator="true"
			rowsPerPageTemplate="5,10,15">
				
				<p:column headerText="SUB-MENÚ">
					<p:outputLabel value="#{roles.nombreMenu}"/>
				</p:column>
				<p:column headerText="DESCRIPCIÓN">
					<p:outputLabel value="#{roles.descripcion}"/>
				</p:column>
				<p:column headerText="PERMISOS">
		 			<p:selectManyCheckbox value="#{roles.listBEeans}">
			            <f:selectItem itemLabel="Buscar" itemValue="Buscar" />
			            <f:selectItem itemLabel="Crear" itemValue="Crear" />
			            <f:selectItem itemLabel="Modificar" itemValue="Modificar" />
			            <f:selectItem itemLabel="Elminar" itemValue="Elminar" />
			        </p:selectManyCheckbox>
				</p:column>	
			</p:dataTable>
			<table>
				<tr>
					<td>
						<p:commandButton value="Aceptar" immediate="true" oncomplete="PF('wdlgDatos').hide();"/>
					</td>
					<td>
						<p:commandButton value="Cancelar" immediate="true" oncomplete="PF('wdlgDatos').hide();"/>
					</td>
				</tr>
			</table>
		</h:form>
	</p:dialog>


	<p:dialog header="Menú" widgetVar="wdlgRol" id="dlgRol" modal="true">
		<h:form>
			<p:panel id="panelRol" header="Mantenedor de Roles: Crear" style="margin-bottom:20px">
				<table>
					<tr>
						<td>
							<p:outputLabel for="name" value="Nombre" />
							
						</td>
						<td colspan="2">
							<h:inputText id="name" value="#{usuarioBean.usuario.dv}" />
						</td>
						
					</tr>
					<tr>
						<td>
							<p:outputLabel for="pass" value="Descripción" />
							
						</td>
						<td colspan="2">
							<h:inputText id="pass" value="#{usuarioBean.usuario.dv}" />
						</td>
						
					</tr>
					<tr>
						<td>
							<p:commandButton value="Volver" immediate="true" oncomplete="PF('wdlgRol').hide();" />
						</td>
						<td>
							<p:commandButton value="Aceptar" immediate="true" oncomplete="PF('wdlgRol').hide();" />
						</td>
						<td>
						</td>
					</tr>
				
				</table>
				
				</p:panel>
		</h:form>
	</p:dialog>
</h:body>
</html>
