<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>

	<h:form>
	<p:panel id="panelRol" header="Mantenedor de Roles: Crear" style="margin-bottom:20px">
	<table>
		<tr>
			<td>
				<p:outputLabel for="name" value="Nombre" />
				
			</td>
			<td colspan="2">
				<h:inputText id="name" value="#{usuarioBean.usuario.dv}" />
			</td>
			
		</tr>
		<tr>
			<td>
				<p:outputLabel for="pass" value="Descripción" />
				
			</td>
			<td colspan="2">
				<h:inputText id="pass" value="#{usuarioBean.usuario.dv}" />
			</td>
			
		</tr>
		<tr>
			<td>
				<p:commandButton value="Volver" actionListener="#{usuarioBean.listar}" />
			</td>
			<td>
				<p:commandButton value="Agregar" actionListener="#{usuarioBean.listar}" />
			</td>
			<td>
			</td>
		</tr>
	
	</table>
	
	</p:panel>
	</h:form>

</h:body>
</html>
