<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:cc="http://java.sun.com/jsf/composite/customcomponents"
	xmlns:c="http://java.sun.com/jsp/jstl/core" contentType="text/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Politicas-Usuario Login</title>
		<h:outputScript name="js/Utils.js" target="body"></h:outputScript>
	</h:head>

	<h:body>
		<cc:SessionTimeOut></cc:SessionTimeOut>
		<cc:AppHeaderMenu></cc:AppHeaderMenu>

		<p:spacer height="10px;"></p:spacer>
		<p:growl id="growl" sticky="false" showDetail="true" />

		<h:form id="formInitial">
			<p:panel style="border-style:none">
				<p:fieldset legend="Mantenedor de Usuarios">
					<p:panel>
						<h:panelGrid columns="11">
							<h:outputLabel value="Rut" style="font-weight: bold;" />
							<p:spacer width="3" />
							<p:inputNumber maxlength="8" minValue="0" maxValue="90000000"
								onkeypress="return restrictInputs(varNumberSetCharacter5,this,true);"
								thousandSeparator="." decimalSeparator="," size="15"
								value="#{mantenedorUsuario.filtro.rut}" />
							<h:outputLabel value="-" />
							<p:inputText maxlength="1" style="width:35px;"
								value="#{mantenedorUsuario.filtro.dv}"
								onkeypress="return restrictInputs(alphaAndKSetCharacter,this,true);" />
							<p:spacer width="3" />
							<h:outputLabel value="Estado" style="font-weight: bold;" />
							<p:spacer width="3" />
							<p:selectOneMenu id="console" style="width: 200px;"
								value="#{mantenedorUsuario.filtro.estado}">
								<f:selectItems value="#{mantenedorUsuario.estados}"></f:selectItems>
							</p:selectOneMenu>

							<p:spacer width="10px"></p:spacer>
							<p:commandButton value="Buscar" icon="ui-icon-search"
								actionListener="#{mantenedorUsuario.buscarUsuarios}"
								update=":growl, @form"></p:commandButton>
						</h:panelGrid>

						<p:spacer height="20px;"></p:spacer>

						<h:panelGrid columns="3" style="margin-left:800px">
							<p:commandButton value="Incorporar Usuario" icon="ui-icon-plus"
								resetValues="true"
								actionListener="#{mantenedorUsuario.cleanUsuario}"
								update="id-form-new-user"
								onclick="PF('nuevoUsuarioDlgWidget').show();" />
							<p:spacer width="10px"></p:spacer>
							<h:commandLink id="exportExcel" style="border-style:none"
								disabled="#{fn:length(mantenedorUsuario.listaUsuarios) == 0 }"
								title="Exportar Excel">
								<p:graphicImage value="/resources/images/excel.png" width="35"
									style="border-style:none" height="35" />
								<f:param name="fileName" value="Usuarios"></f:param>
								<p:dataExporter type="xls" target="tablaUsuario"
									postProcessor="#{utils.postProcessXLS}"
									fileName="Lista_Usuarios" />
							</h:commandLink>




						</h:panelGrid>
					</p:panel>


					<p:spacer height="10px;"></p:spacer>

					<p:dataTable id="tablaUsuario" var="usuario" paginator="true"
						emptyMessage="No se han encontrado registros..."
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} "
						rowsPerPageTemplate="5,10,15"
						value="#{mantenedorUsuario.listaUsuarios}" rows="5">


						<p:column>
							<f:facet name="header">
								<h:outputText value="Rut"></h:outputText>
							</f:facet>
							<h:outputText value="#{usuario.rut} - #{usuario.dv}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Nombres"></h:outputText>
							</f:facet>
							<h:outputText value="#{usuario.nombres}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Apellido Paterno"></h:outputText>
							</f:facet>
							<h:outputText value="#{usuario.apellidoPaterno}" />
						</p:column>


						<p:column>
							<f:facet name="header">
								<h:outputText value="Apellido Materno"></h:outputText>
							</f:facet>
							<h:outputText value="#{usuario.apellidoMaterno}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Estado"></h:outputText>
							</f:facet>
							<h:outputText value="#{usuario.estado}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Email"></h:outputText>
							</f:facet>
							<h:outputText value="#{usuario.email}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Fono"></h:outputText>
							</f:facet>
							<h:outputText value="#{usuario.fono}" />
						</p:column>

						<p:column>
							<f:facet name="header">
								<h:outputText value="Roles"></h:outputText>
							</f:facet>
							<h:outputText escape="false" value="#{usuario.listaRoles}">
								<f:converter binding="#{fieldOfObjListConverter}" />
								<f:attribute name="fieldName" value="nombre" />
							</h:outputText>
						</p:column>

						<p:column style="width:25px;" exportable="false">
							<p:commandButton icon="ui-icon-pencil" title="Editar usuario"
								actionListener="#{mantenedorUsuario.loadPopUpEdicionUsuario}"
								style="width:27px;"
								oncomplete="PF('EditarUsuarioDlgWidget').show();"
								resetValues="true" update=":id-form-edit-user">
								<f:attribute name="usuario" value="#{usuario}" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:fieldset>
			</p:panel>
		</h:form>




		<!--  	<p:dialog widgetVar="dlg1" id="rol" width="200px" modal="true"
			showHeader="false" resizable="false">
			<p:dataTable var="role"
				value="#{mantenedorUsuario.usuarioSeleccionado.listaRoles}" rows="5"
				paginator="false">
				<p:column headerText="Nombre">
					<h:outputText value="#{role.nombre}" />
				</p:column>
			</p:dataTable>
			<p:spacer height="1"></p:spacer>
			<p:commandButton onclick="PF('dlg1').hide();" value="cancelar"></p:commandButton>
		</p:dialog>
		!-->




		<!-- POP UP NUEVO USUARIO -->
		<p:dialog id="nuevoUsuarioDlg" widgetVar="nuevoUsuarioDlgWidget"
			style="width:530px;" responsive="true" resizable="false"
			closable="false" modal="true" showEffect="fade"
			header="Nuevo Usuario">
			<p:panel header="Formulario ingreso">
				<h:form id="id-form-new-user">
					<h:panelGrid columns="3" title="Ingreso de usuario">

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Rut" style="font-weight: bold;" />
						<h:panelGrid columns="3">
							<p:inputNumber maxlength="8" minValue="0" maxValue="90000000"
								onkeypress="return restrictInputs(varNumberSetCharacter5,this,true);"
								id="rut" binding="#{rutVar}" required="true"
								requiredMessage="El campo rut es obligatorio"
								thousandSeparator="." decimalSeparator="," size="15"
								value="#{mantenedorUsuario.usuario.rut}">
							</p:inputNumber>
							<p:outputLabel value="-"></p:outputLabel>
							<p:inputText maxlength="1" size="1" required="true"
								requiredMessage="El campo digito verificador del rut es obligatorio"
								value="#{mantenedorUsuario.usuario.dv}"
								onkeypress="return restrictInputs(alphaAndKSetCharacter,this,true);">
								<f:validator validatorId="custom.rutValidator" />
								<f:attribute name="rutId" value="#{rutVar}"></f:attribute>
							</p:inputText>
						</h:panelGrid>

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputLabel for="nombre" value="Nombre"
							style="font-weight: bold;" />
						<p:inputText id="nombre" style="width: 250px;" maxlength="150"
							size="8" required="true"
							requiredMessage="El campo nombre es obligatorio"
							value="#{mantenedorUsuario.usuario.nombres}"
							onkeypress="return restrictInputs(alphaAndAccentMark,this,true);">
						</p:inputText>

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Apellido Paterno" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="150" required="true"
							requiredMessage="El campo apellido paterno es obligatorio"
							value="#{mantenedorUsuario.usuario.apellidoPaterno}"
							onkeypress="return restrictInputs(alphaAndAccentMark,this,true);" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Apellido Materno" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="150"
							value="#{mantenedorUsuario.usuario.apellidoMaterno}"
							required="true"
							requiredMessage="El campo apellido materno es obligatorio"
							onkeypress="return restrictInputs(alphaAndAccentMark,this,true);" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Correo Electronico"
							style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="150"
							value="#{mantenedorUsuario.usuario.email}" required="true"
							requiredMessage="El campo email es obligatorio">
							<f:validator validatorId="custom.emailValidator" />
						</p:inputText>

						<h:outputLabel value="" />
						<h:outputText value="Telefono" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="15"
							onkeypress="return restrictPhone(this);"
							value="#{mantenedorUsuario.usuario.fono}"
							onblur="return restrictPhone(this);" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Contraseña" style="font-weight: bold;" />
						<p:password id="inlineFeedback" maxlength="20" required="true" requiredMessage="El campo contraseña es obligatorio"
							value="#{mantenedorUsuario.usuario.contrasena.password}"
							feedback="true" weakLabel="Débil" goodLabel="Medio"
							redisplay="true" strongLabel="Óptima" inline="true"
							promptLabel="Por favor ingrese una contraseña" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Estado" style="font-weight: bold;" />
						<p:selectOneMenu id="console" style="width: 200px;"
							required="true" requiredMessage="El campo estado es obligatorio"
							value="#{mantenedorUsuario.usuario.estado}">
							<f:selectItems value="#{mantenedorUsuario.estados}" var="estado"
								itemLabel="#{estado.label}" itemValue="#{estado}"
								itemDisabled="#{(estado eq 'TODOS') or (estado eq 'BLOQUEADO')}" />
						</p:selectOneMenu>

						<h:outputLabel value=""></h:outputLabel>
						<h:outputLabel for="super-usuario" value="Administrador de usuario"
							style="font-weight: bold;" />
						<p:selectBooleanCheckbox id="super-usuario"
							value="#{mantenedorUsuario.usuario.esSuperUsuario}">
							<p:ajax update="menu, displayRoles"
								listener="#{mantenedorUsuario.cleanRoles}" />
						</p:selectBooleanCheckbox>

						<h:outputLabel value=""></h:outputLabel>
						<h:outputLabel for="menu" value="Roles: "
							style="font-weight: bold;" />
						<p:selectCheckboxMenu id="menu" label="Roles" filter="true"
							disabled="#{mantenedorUsuario.usuario.esSuperUsuario == true}"
							scrollHeight="100"
							value="#{mantenedorUsuario.usuario.listaRoles}"
							filterMatchMode="startsWith" paneslStyle="width:250px">
							<p:ajax event="change" update="displayRoles"></p:ajax>
							<p:ajax event="toggleSelect" update="displayRoles" />
							<f:selectItems value="#{mantenedorUsuario.roles}" var="rol"
								style="font-size:10px;" itemValue="#{rol}"
								itemLabel="#{rol.nombre}" />
							<f:converter binding="#{hashCodeBasedSelectObjConverter}" />
						</p:selectCheckboxMenu>

						<h:outputLabel value=""></h:outputLabel>
						<h:outputLabel for="menu" value="Roles Seleccionados: "
							style="font-weight: bold;" />
						<p:outputPanel id="displayRoles"
							style="width:250px;padding-left:5px;margin-top:10px">
							<p:dataList value="#{mantenedorUsuario.usuario.listaRoles}"
								var="rol" style=" overflow:auto; height:20px;"
								emptyMessage="Ningun rol seleccionado">#{rol.nombre}
        					</p:dataList>
						</p:outputPanel>

					</h:panelGrid>

					<p:panel style="text-align: center; border-width: 0px; ">

						<p:commandButton value="Cancelar"
							actionListener="#{mantenedorUsuario.cleanUsuario}"
							update="nuevoUsuarioDlg"
							onclick="PF('nuevoUsuarioDlgWidget').hide();" resetValues="true" />

						<p:commandButton value="Guardar" icon="ui-icon-plus"
							oncomplete="if(!args.validationFailed)PF('IncorporarUsuarioCnfDlg').show();"
							update=":growl, id-form-new-user" />

						<p:remoteCommand name="ejecutarGuardarUsuario"
							oncomplete="handleNewUserBeanRequest(xhr, status, args);"
							actionListener="#{mantenedorUsuario.guardarUsuario}"
							update=":growl" />
					</p:panel>
				</h:form>
			</p:panel>
		</p:dialog>








		<!-- POP UP EDITAR USUARIO -->
		<p:dialog id="EditarUsuarioDlg" widgetVar="EditarUsuarioDlgWidget"
			style="width:530px;" responsive="true" resizable="false"
			closable="false" modal="true" showEffect="fade"
			header="Editar Usuario">
			<p:panel header="Formulario Edicion">
				<h:form id="id-form-edit-user">
					<h:panelGrid columns="3" title="Editar de usuario">

						<h:outputLabel value="" style="color:red"></h:outputLabel>
						<h:outputText value="Rut" style="font-weight: bold;" />
						<h:panelGrid columns="3">
							<p:inputNumber maxlength="8" minValue="0" maxValue="90000000"
								readonly="true" binding="#{rutEditVar}" required="true"
								requiredMessage="El campo rut es obligatorio"
								thousandSeparator="." decimalSeparator="," size="15"
								value="#{mantenedorUsuario.usuarioSeleccionado.rut}">
							</p:inputNumber>
							<p:outputLabel value="-"></p:outputLabel>
							<p:inputText maxlength="1" size="1" required="true"
								readonly="true"
								requiredMessage="El campo digito verificador del rut es obligatorio"
								value="#{mantenedorUsuario.usuarioSeleccionado.dv}">
								<f:validator validatorId="custom.rutValidator" />
								<f:attribute name="rutId" value="#{rutEditVar}"></f:attribute>
							</p:inputText>
						</h:panelGrid>

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputLabel for="nombre" value="Nombre"
							style="font-weight: bold;" />
						<p:inputText id="nombre" style="width: 250px;" maxlength="150"
							size="8" required="true"
							requiredMessage="El campo nombre es obligatorio"
							value="#{mantenedorUsuario.usuarioSeleccionado.nombres}"
							onkeypress="return restrictInputs(alphaAndAccentMark,this,true);">
						</p:inputText>

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Apellido Paterno" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="150" required="true"
							requiredMessage="El campo apellido paterno es obligatorio"
							value="#{mantenedorUsuario.usuarioSeleccionado.apellidoPaterno}"
							onkeypress="return restrictInputs(alphaAndAccentMark,this,true);" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Apellido Materno" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="150"
							value="#{mantenedorUsuario.usuarioSeleccionado.apellidoMaterno}"
							required="true"
							requiredMessage="El campo apellido materno es obligatorio"
							onkeypress="return restrictInputs(alphaAndAccentMark,this,true);" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Correo Electronico"
							style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="150"
							value="#{mantenedorUsuario.usuarioSeleccionado.email}"
							required="true" requiredMessage="El campo email es obligatorio">
							<f:validator validatorId="custom.emailValidator" />
						</p:inputText>

						<h:outputLabel value="" />
						<h:outputText value="Telefono" style="font-weight: bold;" />
						<p:inputText style="width: 250px;" maxlength="15"
							onkeypress="return restrictPhone(this);"
							value="#{mantenedorUsuario.usuarioSeleccionado.fono}"
							onblur="return restrictPhone(this);" />

						<h:outputLabel value="" style="color:red"></h:outputLabel>
						<h:outputText value="Contraseña" style="font-weight: bold;" />
						<p:password id="inlineFeedback" maxlength="20"
							value="#{mantenedorUsuario.usuarioSeleccionado.contrasena.password}"
							redisplay="true" />

						<h:outputLabel value="*" style="color:red"></h:outputLabel>
						<h:outputText value="Estado" style="font-weight: bold;" />
						<p:selectOneMenu id="console" style="width: 200px;"
							required="true" requiredMessage="El campo estado es obligatorio"
							value="#{mantenedorUsuario.usuarioSeleccionado.estado}">
							<f:selectItems value="#{mantenedorUsuario.estados}" var="estado"
								itemLabel="#{estado.label}" itemValue="#{estado}"
								itemDisabled="#{estado eq 'TODOS'}" />/>
						</p:selectOneMenu>

						<h:outputLabel value=""></h:outputLabel>
						<h:outputLabel for="super-usuario" value="Administrador de usuario"
							style="font-weight: bold;" />
						<p:selectBooleanCheckbox id="super-usuario"
							value="#{mantenedorUsuario.usuarioSeleccionado.esSuperUsuario}" />

						<h:outputLabel value=""></h:outputLabel>
						<h:outputLabel for="menu" value="Roles: "
							style="font-weight: bold;" />
						<p:selectCheckboxMenu label="Roles" filter="true"
							scrollHeight="100"
							value="#{mantenedorUsuario.usuarioSeleccionado.listaRoles}"
							filterMatchMode="startsWith" paneslStyle="width:250px">
							<p:ajax event="change" update="displayEdit"></p:ajax>
							<p:ajax event="toggleSelect" update="displayEdit" />
							<f:selectItems value="#{mantenedorUsuario.roles}" var="rol"
								style="font-size:10px;" itemValue="#{rol}"
								itemLabel="#{rol.nombre}" />
							<f:converter binding="#{hashCodeBasedSelectObjConverter}" />
						</p:selectCheckboxMenu>

						<h:outputLabel value=""></h:outputLabel>
						<h:outputLabel for="menu" value="Roles Seleccionados: "
							style="font-weight: bold;" />
						<p:outputPanel id="displayEdit"
							style="width:250px;padding-left:5px;margin-top:10px">
							<p:dataList
								value="#{mantenedorUsuario.usuarioSeleccionado.listaRoles}"
								var="rol" style=" overflow:auto; height:20px;"
								emptyMessage="Ningun rol seleccionado">#{rol.nombre}
        					</p:dataList>
						</p:outputPanel>

					</h:panelGrid>

					<p:panel style="text-align: center; border-width: 0px; ">

						<p:commandButton value="Cancelar"
							onclick="PF('EditarUsuarioDlgWidget').hide();" />

						<p:commandButton value="Guardar" icon="ui-icon-plus"
							oncomplete="if(!args.validationFailed)PF('EditarUsuarioCnfDlg').show();"
							update=":growl, id-form-edit-user" />

						<p:remoteCommand name="ejecutarEditarUsuario"
							oncomplete="handleEditUserBeanRequest(xhr, status, args);"
							actionListener="#{mantenedorUsuario.editarUsuario}"
							update=":growl :formInitial" />
					</p:panel>
				</h:form>
			</p:panel>
		</p:dialog>



		<!-- DIALOGOS DE CONFIRMACION SAVE USUARIO-->
		<p:confirmDialog widgetVar="IncorporarUsuarioCnfDlg"
			header="Confirmar Incorporación"
			message=" ¿Está seguro que desea incorporar al usuario?"
			closable="false">
			<p:commandButton value="Si"
				onclick="ejecutarGuardarUsuario();PF('IncorporarUsuarioCnfDlg').hide();"
				type="button" />
			<p:commandButton value="No"
				onclick="PF('IncorporarUsuarioCnfDlg').hide();" />
		</p:confirmDialog>



		<!--  DIALOGOS DE CONFIRMACION EDICION USUARIO -->
		<p:confirmDialog widgetVar="EditarUsuarioCnfDlg"
			header="Confirmar Edición"
			message=" ¿Está seguro que desea actualizar los cambios realizados al usuario?"
			closable="false">
			<p:commandButton value="Si"
				onclick="ejecutarEditarUsuario();PF('EditarUsuarioCnfDlg').hide();"
				type="button" />
			<p:commandButton value="No"
				onclick="PF('EditarUsuarioCnfDlg').hide();" />
		</p:confirmDialog>


		<script type="text/javascript">
			function handleNewUserBeanRequest(xhr, status, args) {
				console.log(args.validationFailed);
				if (args.validationFailed) {
						$("#nuevoUsuarioDlg").effect("shake", {
							times : 3
						}, 100);
				} else {
					PF('nuevoUsuarioDlgWidget').hide();
				}
			}
			
			function handleEditUserBeanRequest(xhr, status, args) {
				console.log(args);
				if (args.validationFailed) {
						$("#EditarUsuarioDlg").effect("shake", {
							times : 3
						}, 100);
				} else {
					PF('EditarUsuarioDlgWidget').hide();
				}
			}
			
		</script>
	</h:body>

	
</f:view>
