<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>

	<h:form id="frm">
	<p:panel id="panelPregunta" header="Mantenedor de Preguntas Secretas" style="martgin-bottom:20px">
	<table>
		<tr>
			<td>
				<p:outputLabel for="pregunta" value="Pregunta " />
				<h:inputText id="pregunta" value="#{preguntaBean.pregunta.pregunta}" />
			</td>
			<td>
				<p:commandButton value="Listar" actionListener="#{preguntaBean.listar}" update="data"/>
			</td>
			<td>
				<p:commandButton value="Agregar" actionListener="#{preguntaBean.listar}" update="data"/>
			</td>
		</tr>
	
	</table>
	<p:dataTable id="data"  value="#{preguntaBean.ltsPreguntas}"  var="preguntas">
		
		<p:column headerText="Pregunta">
			<p:outputLabel value="#{preguntas.pregunta}"/>
		</p:column>
		<p:column headerText="Estado">
			<p:outputLabel value="#{preguntas.estado}"/>
		</p:column>
		<p:column headerText="MODIFICAR">
			<p:commandLink id="ajax" actionListener="#{preguntaBean.leerID}" oncomplete="PF('wdlgRol').show();" update=":dlgRol">
        		<h:outputText value="Modificar" />
    		</p:commandLink>
		</p:column>
	</p:dataTable>
	</p:panel>
	</h:form>
	<p:dialog header="Menú" widgetVar="wdlgDatos" id="dlgDatos">
		<h:form>
			<p:dataTable id="data"  value="#{preguntaBean.ltsPreguntas}"  var="prg" rows="5" paginator="true"
			rowsPerPageTemplate="5,10,15">
				
				<p:column headerText="Pregunta">
					<p:outputLabel value="#{prg.pregunta}"/>
				</p:column>
				<p:column headerText="Estado">
					<p:outputLabel value="#{prg.estado}"/>
				</p:column>
			</p:dataTable>
			<table>
				<tr>
					<td>
						<p:commandButton value="Aceptar" immediate="true" oncomplete="PF('wdlgDatos').hide();"/>
					</td>
					<td>
						<p:commandButton value="Cancelar" immediate="true" oncomplete="PF('wdlgDatos').hide();"/>
					</td>
				</tr>
			</table>
		</h:form>
	</p:dialog>


	<p:dialog header="Menú" widgetVar="wdlgRol" id="dlgRol">
		<h:form>
			<p:panel id="panelRol" header="Mantenedor de Preguntas Secretas" style="margin-bottom:20px">
				<table>
					<tr>
						<td>
							<p:outputLabel for="name" value="Pregunta" />
							
						</td>
						<td colspan="2">
							<h:inputText id="name" value="#{usuarioBean.usuario.dv}" />
						</td>
						
					</tr>
					<tr>
						<td>
							<p:outputLabel for="estado" value="Estado" />
							
						</td>
						<td colspan="2">
							<p:selectOneMenu id="estado" value="#{usuarioBean.usuario.dv}" style="width:125px">
					            <f:selectItem itemLabel="ACTIVO" itemValue="" />
					            <f:selectItem itemLabel="INACTIVO" itemValue="" />					 
					        </p:selectOneMenu>
						</td>
						
					</tr>
					<tr>
						<td>
							<p:commandButton value="Volver" immediate="true" oncomplete="PF('wdlgRol').hide();" />
						</td>
						<td>
							<p:commandButton value="Aceptar" immediate="true" oncomplete="PF('wdlgRol').hide();" />
						</td>
						<td>
						</td>
					</tr>
				
				</table>
				
				</p:panel>
		</h:form>
	</p:dialog>
</h:body>
</html>
