<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core" contentType="text/html">

	<h:head>
		<h:outputScript name="js/Utils.js" target="body"></h:outputScript>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="PRAGMA" content="no-cache" />
		<meta http-equiv="Expires" content="-1" />
		<title>abcdin- Politicas de Usuario - Login</title>
	</h:head>
	<h:body style="background-color: #bdc3c7">
		<f:event type="preRenderView" listener="#{loginSession.validateIsLogin}" />
		<p:growl id="growl" sticky="false" showDetail="true" />
		<section>
			<h1 class="title ui-widget-header ui-corner-all">Administración
				de usuarios del Sistema SGIC</h1>
		</section>
		<section>
			<h:form>
				<p:dialog id="loginDialog" widgetVar="loginDialogWidget"
					responsive="true" draggable="false" header="Login" closable="false"
					resizable="false">

					<p:panelGrid columns="2" columnClasses="label, value"
						styleClass="grid" style="text-align: left;">
						<p:outputLabel value="Rut :" />
						<h:panelGrid columns="3">
							<p:inputNumber maxlength="8" minValue="0" maxValue="99000000"
								binding="#{rutLogin}" required="true"
								requiredMessage="El campo rut es obligatorio"
								thousandSeparator="." decimalSeparator="," size="15"
								value="#{loginSession.rut}">
							</p:inputNumber>
							<p:outputLabel value="-"></p:outputLabel>
							<p:inputText maxlength="1" size="1" required="true"
								onkeypress="return restrictInputs(alphaAndKSetCharacter,this,true);"
								requiredMessage="El campo digito verificador del rut es obligatorio"
								value="#{loginSession.dv}">
								<f:validator validatorId="custom.rutValidator" />
								<f:attribute name="rutId" value="#{rutLogin}"></f:attribute>
							</p:inputText>
						</h:panelGrid>

						<p:outputLabel value="Password :" />
						<p:password id="clave" autocomplete="false" required="true"
							size="24" requiredMessage="La contraseña es requerida"
							value="#{loginSession.password}" />


						<f:facet name="footer">
							<h:panelGroup style="text-align:center;" layout="block">
								<p:commandButton id="submit" value="Ingresar" update="growl"
									action="#{loginSession.doLogin}" />
								<p:button value="Cancelar" />
							</h:panelGroup>
						</f:facet>
					</p:panelGrid>

				</p:dialog>
			</h:form>
		</section>
		<script>
			$(document).ready(function() {
				//loginDialog.cfg.showEffect = #{param['retry']=='true' ? 'null' : "\"explode\""};
				PF('loginDialogWidget').show();
			});		
		</script>

		<section
			style="padding-top: 600px; text-align: right; padding-right: 50px;">
			<h4>Politicias de Usuario Version 1.0</h4>
		</section>

	</h:body>

</f:view>
